/* Основная область */
#content {
    padding: 20px 30px;
    color: white;
    overflow-y: auto;
}

/* Отступы между секциями */
.section {
    margin-bottom: 40px;
}

/* Заголовок секции + стрелка */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.section-header h2 {
    font-size: 24px;
    margin: 0;
}

.playlist-row-wrapper {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    transition: 0.2s, transform 0.2s;
}

.arrow img {
    width: 25px;
    height: 25px;
    
}

/* При наведении светлее и чуть увеличивается */
.arrow:hover {
    background: rgba(66, 66, 66, 0.2); /* светлее фон */
    transform: translateY(-50%) scale(1.05); /* чуть увеличиваем */
}

/* левая стрелка */
.arrow.left {
    left: -20px;
}

/* правая стрелка */
.arrow.right {
    right: -20px;
}


/* Горизонтальная лента плейлистов */
.playlist-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

/* стили скроллбара у строки */
.playlist-row::-webkit-scrollbar {
    height: 8px;
}

.playlist-row::-webkit-scrollbar-thumb {
    background: #ff8c00;
    border-radius: 8px;
}

.playlist-row::-webkit-scrollbar-track {
    background: #222;
}

/* Скрываем горизонтальный scrollbar в playlist-row */
.playlist-row {
    scrollbar-width: none; /* Firefox */
}

.playlist-row::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

/* Карточка плейлиста */
.card {
    min-width: 180px;
    background: #181818;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    background: #222;
}

/* Картинка */
.card-cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-name {
    font-size: 16px;
    font-weight: 600;
}

.card-author {
    font-size: 13px;
    color: #bbbbbb;
}

/* Футер */
#footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #aaa;
}

#footer a {
    text-decoration: none;
    color: #ff8c00;
}

#footer a:hover {
    color: #ffa733;
}

/* === Скроллбар для левого сайдбара === */
#content::-webkit-scrollbar {
    width: 10px;
}

#content::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 10px;
}

#content::-webkit-scrollbar-thumb {
    background: #ff8c00; /* оранжевый */
    border-radius: 10px;
}

#content::-webkit-scrollbar-thumb:hover {
    background: #ffa733;
}

