#playlistHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    min-width: 450;
    background: linear-gradient(to top,#1f1f1f 0%,#3a2f1f 25%,#7a4f1f 50%,#c97f1f 75%,#FCB821 100%);

    color: white;
    border-radius: 15px 15px 0 0;
}

#playlistHeader .cover {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#playlistHeader .info h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    color: #ffffff;
}

#playlistHeader .info p {
    font-size: 18px;
    color: #b3b3b3;
    margin-top: 10px;
}

#trackList {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
    color: white;
    max-height: 600px;
    /*overflow-y: auto;*/
    scrollbar-width: thin;
    scrollbar-color: orange #202020;
}

.track {
    display: grid;
    grid-template-columns: 40px 2fr 1.5fr 1fr;
    align-items: center;
    background-color: #202020;
    padding: 10px 15px;
    border-radius: 5px;
   
    position: relative;
}

.track:hover {
    background-color: #2a2a2a;
}

.track-number {
    font-weight: bold;
    color: #b3b3b3;
    text-align: center;
    transition: opacity 0.2s;
}

.track::before {
    content: "▶";
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: white;
    opacity: 0;
    transition: opacity 0.2s;
}

.track:hover .track-number {
    opacity: 0;
}

.track:hover::before {
    opacity: 1;
}

.track-duration {
    text-align: right;
    color: #b3b3b3;
    justify-self: end;
    padding-right: 10px;
}

/* Стили для скроллбара (Chrome, Edge, Safari) */
#trackList::-webkit-scrollbar {
    width: 8px;
}

#trackList::-webkit-scrollbar-track {
    background: #202020;
}

#trackList::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 4px;
    border: 2px solid #202020;
}