body{
    height: 100vh;
    margin: 0;
}

#main{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr 80px;
    height: 100%;
}

#header{
    grid-row: 1/2;
    grid-column: 1/3;
    background: #1f1f1f;
    display: grid;
    grid-template-columns: 50px auto auto; /* изменено */
    align-items: center; /* добавлено */
    padding: 0 20px; /* добавлено */
    gap: 50px; /* добавлено */
}

#playLists{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: #121212;
}

#content{
    grid-row: 2/3;
    grid-column: 2/3;
    background: #181818;
}

#player{
    grid-row: 3/4;
    grid-column: 1/3;
    background: #282828;
}

/*Header*/


