#playLists {
    width: 260px;
    background: #111;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

#playlist-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

#playlist-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playlist-item {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

.playlist-item:hover {
    background: #1a1a1a;
}

.playlist-cover {
    width: 55px;
    height: 55px;
    border-radius: 6px;

  
   
    
}
.playlist-cover_icon {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    
     & img{

          height: 33px;
          width:33px;
    }

}


.playlist-info {
    display: flex;
    flex-direction: column;
}

.playlist-name {
    font-size: 15px;
    font-weight: 600;
}

.playlist-author {
    font-size: 12px;
    color: #bbbbbb;
}

#playLists::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

#playLists::-webkit-scrollbar-track {
    background: transparent;
}

#playLists::-webkit-scrollbar-thumb {
    background: #ff8c00;
    border-radius: 10px;
}

#playLists::-webkit-scrollbar-thumb:hover {
    background: #ffa733;
}


